* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Segoe UI",Arial,sans-serif ;
    background-color:rgb(232, 244, 255);
}

.section {
    position: relative;
    padding: 2rem 0;
    gap: 1rem;
    text-align: center;
}


#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    gap: 2rem;

}

.product-card {
    background-color:rgb(240, 234, 234);
    border-radius: 1rem;
    box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 47%;
    }
    @media (min-width: 1024px) {
        width: 30%;
    }
}

.product-info {
    padding: 1.25rem 1rem 1.5rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    user-select: none;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;

}

.product-description {
    font-size: 1.15rem;

}

.btn {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.75rem;
    max-width: 200px;
}

#modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    flex-direction: column;
    justify-content: center;    
    align-items: center;

    
}


#modal-content {
    position: relative;
    width: 85%;
    max-width: 750px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transform: translateY(-100%); 
    transition: all 0.25s ease;
    pointer-events: none; 

    @media (min-width: 768px) {
        width: 80%;
    }
}

#modal-content.show {
    opacity: 1; 
    transform:translateY(0); 
    pointer-events: auto;
}

#close {
    position: absolute;
    color: white; 
    top: -35px;
    right: -20px;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;

    @media (min-width: 768px) {
        top: -4rem;
        right: -3rem;
        font-size: 3rem;
    }
}

#modal-image {
    width: 100%;
    height: auto;
    user-select: none;
}

#modal-info {
    color: #000;
    padding: 1.25rem 1rem 1.5rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    background: rgb(240, 234, 234);
}

#product-price,
#modal-price {
    font-size: 1.25rem;
}


#product-quantity-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;

}

#quantity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.quantity-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2px;
    border-bottom: 1px solid #ddd;
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
    }
}

.quantity-row:last-child {
    border-bottom: none;
}

.quantity-row input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}
